#header
  .top-bar
    .container
      .top-bar-left
        ul.dropdown.menu(data-dropdown-menu)
          li.logo
            a(href="#")
      .top-bar-right
        ul.dropdown.menu(data-dropdown-menu)
          li.active
            a(href="#") Home
          li
            a(href="#") Corporate
          li
            a(href="#") Aree di Business
            ul.menu.vertical
              li
                a(href="#") One
              li
                a(href="#") Two
              li
                a(href="#") Three
          li
            a(href="#") Progetti speciali
            ul.menu.vertical
              li
                a(href="#") One
              li
                a(href="#") Two
              li
                a(href="#") Three
          li
            a(href="#") Contatti
          li
            a(href="#") lingua
            ul.language.menu.vertical
              li
                a(href="#") English
              li
                a(href="#") italiano
          li.search
            a(href="#")
            ul.language.menu.vertical
              li
                form
                  input(type="text" placeholder="Search")
  .container
    .quote
      h1 Corporate





