.pagination
    .container
        ul
            li
                a Home /
            li
                a Progetti Speciali  /
            li
                a  Italiana
#footer
    .container
        .row
            .large-12.columns
                .top
                    ul.social-links.float-left
                        li.facebook
                            a(href="#")
                        li.twitter
                            a(href="#")
                        li.youtube
                            a(href="#")
                    from.subscribe.float-left
                        input(type="text" placeholder="Iscriviti alla newsletter")
                        input(type="submit" value="Invia")
                    a.acreditation.float-right(href="#") Accedi all’Area riservata
        .row
            .large-4.columns
                a.logo
                .contact-info
                    | Rai Com S.p.a.
                    | Sede Legale: Via Umberto Novaro, 18 00195 Roma
            .large-4.columns
                .contact-info
                    | Capitale sociale interamente versato €10.320.000,00
                    | Ufficio del Registro delle Imprese di Roma
            .large-4.columns
                .contact-info
                    | © Rai Com 2015 - tutti i diritti riservati.
                    | P.Iva 12865250158 - Powered by Rai Com