section#italian
    .container
        .about
            h2 Italiana
            .sub-title Numero 2 <br> gennaio/marzo 2015
            .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. vUt enim ad minim veniam, quis nostrud exercitation ullamco laboris.<br><br>
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.<br><br>
                | Visita il sito ITALIANA.
            a.more Sfoglia online