//- index.jade
extends ../layouts/base.jade

block content
  main(role="main")
    include ../sections/home/video.jade
    include ../sections/home/business.jade
    include ../sections/home/sales.jade
    include ../sections/home/italian.jade
    include ../sections/home/books-shop.jade
    include ../sections/home/news.jade
