section#rules
	.container
		.icon
		h2 Normativa
		.document-list
			- for (var i = 0; i < 3; i++)
				.row
					.large-3.columns
						.title d.lgs. 231/01
						a(href="#") Modello Parte Generale
					.large-3.columns
						.title d.lgs. 231/01
						a(href="#") Modello Parte Generale
					.large-3.columns
						.title d.lgs. 231/01
						a(href="#") Modello Parte Generale
					.large-3.columns
						.title d.lgs. 231/01
						a(href="#") Modello Parte Generale