section#staff
	.container
		.icon
		h2 STRUTTURA ORGANIZZATIVA
		.staff-list
			.title.group-title Consiglio di Amministrazione
			- for(var i=0; i < 5; i++)
				a.person(href="#")
					img.avatar(src="img/external/person.png")
					.name Gian Paolo Tagliavia
					.position Presidente
			.title.group-title Collegio sindacale
			- for(var i=0; i < 5; i++)
				a.person(href="#")
					img.avatar(src="img/external/person.png")
					.name Gian Paolo Tagliavia
					.position Presidente
			.title Società di Revisione
			.title.last PricewaterhouseCoopers S.p.A.