section#statuts
	.container
		.icon
		h2 Statuto
		.owl-carousel
			- for (var i=0;i<20;i++)
				.statut
					| <strong>TITOLO I</strong>
					| <strong>DENOMINAZIONE - SEDE - DURATA</strong><br><br>
					| <strong>Articolo 1 - Denominazione</strong><br><br>
					| 1.1 - La Societá denominata "Rai Com S.p.A." é retta dal presente statuto.<br><br>
					| <strong>Articolo 2 - Sede</strong><br><br>
					| 2.1 - La societá ha sede legale in Roma.<br>
					| 2.2 - Potranno essere istituite e/o soppresse, nei modi di legge, sia in Italia sia all'estero, sedi secondarie e rappresentanze, filiali e succursali.<br><br>
					| <strong>Articolo 3 - Durata</strong><br><br>
					| 3.1 - La durata della Societá é stabilita al 31 dicembre 2030 e potrá essere prorogata, una o piú volte, con deliberazione dell'assemblea straordinaria dei soci.
