section#two-columns
	.container
		h2 Nulla blandit sagittis ante, quis elementum orci blandit sit amet Duis volutpat porta ultricies.
		.row
			.large-6.columns
				.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum mauris euismod urna lacinia commodo. Nulla facilisi. Suspendisse elementum nibh quis sem venenatis, vitae tincidunt enim posuere. Aenean aliquet quam mattis interdum congue. Suspendisse varius sapien nec neque venenatis imperdiet. Nulla blandit sagittis ante, quis elementum orci blandit sit amet. Duis volutpat porta ultricies. Mauris at tortor vel ipsum aliquam molestie a eu nunc. Etiam metus nunc, vestibulum nec leo in natoque penatibus et
			.large-6.columns
				.text.float-right vestibulum lacus arcu, maximus sed facilisis sed, aliquet eu eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ultrices, justo at pharetra pretium, quam nisi pretium nulla, id vehicula nisi lacus ut purus. Vestibulum condimentum nisl ipsum, vitae convallis sapien efficitur sed. Phasellus imperdiet sodales sem, non auctor sem fermentum non. Curabitur id augue et felis eleifend tristique vel quis nisi. Aenean id laoreet turpis, quis ultricies mi. <a href="#">Vai al sito.</a>