//- index.jade
extends ../layouts/base.jade
block setting
	- var bodyClass = "external sub-project"
block header
	include ../sections/external-header.jade
block content
	main.main(role="main")
		include ../sections/sub-project/two-columns
		include ../sections/sub-project/preview
		include ../sections/sub-project/two-columns-1