.large-4.columns
	aside#sidebar
		h2.title INFORMAZIONI GENERALI
		ul
			li.active
				a Informazioni Generali
			li
				a Informazioni Generali
					ul.sub-menu
						li
							a Mission e Offerta
			li.active
				a Informazioni Generali
			li
				a Informazioni Generali
					ul.sub-menu
						li
							a Mission e Offerta
			li.active
				a Informazioni Generali
			li
				a Informazioni Generali
					ul.sub-menu
						li
							a Mission e Offerta
			li.active
				a Informazioni Generali
			li
				a Informazioni Generali
					ul.sub-menu
						li
							a Mission e Offerta
			li.active
				a Informazioni Generali
			li
				a Informazioni Generali
					ul.sub-menu
						li
							a Mission e Offerta