section#shop
    .container
        h2.float-left rai eri<br> Libri e magazine
        a.go-to.float-right Visita il sito RaiEri
        .clearfix
        .owl-carousel
            .book
                img(src="img/home/books/1.jpg")
                .author Bruno Vespa
                .title Italiani volta gabbana
                a.buy Apri
            .book
                img(src="img/home/books/2.jpg")
                .author Bruno Vespa
                .title Italiani volta gabbana
                a.buy Apri
            .book
                img(src="img/home/books/3.jpg")
                .author Bruno Vespa
                .title Italiani volta gabbana
                a.buy Apri
            .book
                img(src="img/home/books/4.jpg")
                .author Bruno Vespa
                .title Italiani volta gabbana
                a.buy Apri
            .book
                img(src="img/home/books/1.jpg")
                .author Bruno Vespa
                .title Italiani volta gabbana
                a.buy Apri
