section#business

    .container
        .shadow.left
        .shadow.right
        .shadow.bot-left
        .shadow.bot-right
        .wrap
            .row
                .large-6.columns
                    .about
                        h2 Aree di  business
                        .description Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora.
            .row
                .large-3.columns.specification
                    a(href="#")
                        .title CONVENZIONI
                        .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                .large-3.columns.specification
                    a(href="#")
                        .title Library & consumer product
                        .description Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                .large-3.columns.specification
                    a(href="#")
                        .title International sales
                        .description Sit amet, consectetur adipiscing elit do eiusmod tempor incididunt
                .large-3.columns.specification
                    a(href="#")
                        .title Musica
                        .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                .large-3.columns.specification
                    a(href="#")
                        .title Diritti sportivi
                        .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                .large-3.columns.specification
                    a(href="#")
                        .title Libri e magazine
                        .description Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                .large-3.columns.specification
                    a(href="#")
                        .title Progetti speciali e eventi
                        .description Adipiscing elit, sed do eiusmod tempor incididunt