section#news
    .container
        h2 Eventi & news
        .owl-carousel
            - for(var i = 0; i < 20; i++)
                .news
                    img(src="img/home/news.jpg")
                    .title Donec sagittis purus quis blandit
                    .date 13 Set 2015
                    .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. vUt enim ad minim veniam, quis nostrud
