section#sales
    .container
        .about
            h2.float-left International sales
            a.float-right Visita il sito <strong>International Sales</strong>
            .clearfix
            .description
                Duis porttitor, quam in laoreet eleifend, elit nulla ultrices ligula, ac feugiat libero erat ac ligula. Etiam venenatis nec turpis in lobortis. Donec sit amet metus viverra lorem gravida cursus faucibus vitae nulla. Fusce pretium aliquet massa sed volutpat. Suspendisse est risus, hendrerit ut ante eu, porta fringilla libero.
        img(src="img/home/sales-cap.png")