section#video
    .container
        .row
            .large-6.columns
                .video-link
                    a.go-to-video(href="#")
            .large-6.columns
                .video-description
                    h2 Raicom Excepteur sint occaecat
                    .description
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.