section.simple#convention_first
	.container
		h2 Convenzioni istituzionali
		.text Suspendisse varius sapien nec neque venenatis imperdiet. Nulla blandit sagittis ante, quis elementum orci blandit sit amet. Duis volutpat porta ultricies. Mauris at tortor vel ipsum aliquam molestie a eu nunc. Etiam metus nunc, vestibulum
		img(src="img/external/conventions.png")