section#two-columns
	.container
		h2 Duis volutpat porta ultricies
		.row
			.large-6.columns
				.text Suspendisse varius sapien nec neque venenatis imperdiet. Nulla blandit sagittis ante, quis elementum orci blandit sit amet. Duis volutpat porta ultricies. Mauris at tortor vel ipsum aliquam molestie a eu nunc. Etiam metus nunc, vestibulum
			.large-6.columns
				.text.float-right ipsum, vitae convallis sapien efficitur sed. Phasellus imperdiet sodales sem, non auctor sem fermentum non. Curabitur id augue et felis eleifend tristique vel quis nisi. Aenean id laoreet turpis, quis ultricies mi.
		.icon-list
				a.monitor(href="#") il Magazine Tv
				a.book(href="#") la Rivista
				a.house(href="#") Lo spazio casa italia